/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
}

p {
  line-height: 1.4;
	font-weight: normal;
}

h2 {
	font-weight: bold;
  font-size: 20px;
}

body {
	background-color: #8890b3;
}

.container {
  width: 800px;
  margin: 26px auto;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	box-sizing: content-box;
}

.top-img {
	border-bottom: 2px solid black;
}

header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: 48px;
	background-color: #c1c1c1;
	height: 8%;
	align-items: center;
	border-bottom: 2px solid black;
}

header nav {
	width: 643px;
	height: 50%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
}

header img {
	height: 40px;
}

header nav a {
	text-decoration: none;
	color: black;
}

.top-content {
  margin: 20px auto;
  padding: 8px 16px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px dashed black;
}

.sub-section {
  height: 440px;
  width: 372px;
  border-bottom: 1px dashed black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 36px auto;
  padding-bottom: 10px;
}

.sub-section img {
  width: 370px;
  height: 236px;
	border: 1px solid black;
	border-radius: 5px;
}

button {
  padding: auto;
	border: 2px solid black;
	background-color: white;
	height: 40px;
	width: 152px;
  border-radius: 10px;
  font-size: 18px;
}

@keyframes colorchange {
  from {background-color: white;}
  to {background-color: black;}
  from {color: black;}
  to {color: white;}
}
button:hover {
	background: white;
	color: black;
	animation-name: colorchange;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.bottom-section {
  padding: 0 16px;
  margin: 10px auto 44px auto;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
	width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}
